.container {
  overflow: hidden; }

.navigation {
  padding: 0;
  height: 80px;
  background-color: #FFFFFF;
  overflow: hidden;
  border-bottom: 1px solid #F0F0EC; }

.navigation span {
  display: inline-block;
  vertical-align: middle; }

.navigation .left {
  padding-top: 25px;
  margin-left: 220px; }

form {
  margin-left: 18px;
  font-size: 16px;
  border-radius: 10px; }

form input {
  width: 253px;
  height: 30px;
  line-height: 17px;
  border: 1px solid #D9D9D5;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: inline-block;
  vertical-align: middle; }

form .sbutton {
  width: 78px;
  background-color: #33A5C0;
  color: white;
  text-decoration: bold;
  border: 1px solid #D9D9D5;
  border-left: 0;
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  line-height: 17px;
  padding: 0;
  margin: 0;
  margin-right: 18px;
  height: 35px; }

.browse {
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  font-size: 14px;
  color: #666666;
  height: 35px;
  wiidth: 72px;
  float: left; }

.browse:hover {
  border: 1px solid #999999; }

.browse .triangle {
  width: 0;
  height: 0;
  float: right;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 7px solid #BBBBBB;
  display: block;
  text-align: 10px; }
