@charset "UTF-8";
html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  color: #555;
  background-color: #F5F5F1; }

.container {
  width: 980px;
  outline: none;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto; }

.navigation {
  padding: 0;
  height: 80px;
  width: 100%;
  background-color: #FFFFFF;
  overflow: hidden;
  margin-bottom: 30px;
  box-shadow: 0px 0px 10px #b0b0b0;
  border-bottom: 1px solid #F0F0EC; }

.navigation span {
  display: inline-block;
  vertical-align: middle; }

.navigation .left {
  padding-top: 25px;
  margin-left: 220px;
  float: left; }

.navigation .right {
  float: right;
  padding-top: 25px;
  margin-right: 220px; }

form {
  margin-left: 18px;
  font-size: 16px;
  border-radius: 10px; }

form input {
  width: 253px;
  height: 30px;
  line-height: 17px;
  border: 1px solid #D9D9D5;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: inline-block;
  vertical-align: middle; }

form .sbutton {
  width: 78px;
  background-color: #33A5C0;
  color: white;
  text-decoration: bold;
  border: 1px solid #D9D9D5;
  border-left: 0;
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  line-height: 17px;
  padding: 0;
  margin: 0;
  margin-right: 18px;
  height: 35px; }

.browse {
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  font-size: 14px;
  color: #666666;
  height: 35px;
  width: 72px;
  position: relative;
  display: inline-block;
  vertical-align: middle; }

.browse:hover {
  border: 1px solid #999999; }

.browse::after {
  content: "▾";
  color: #bbb;
  font-size: 10px;
  left: 3px;
  line-height: 1em;
  position: relative;
  vertile-align: middle; }

.itemArea {
  max-width: 100%;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }

.itemArea::after {
  clear: both;
  content: "";
  display: table; }

aside {
  background-color: white;
  font-size: 13px;
  border-radius: 3px;
  border: #E1E3DF;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }

aside:last-child {
  margin-right: 0; }

aside ul {
  margin: 0;
  padding: 25px;
  background-color: white;
  border-radius: 5px; }

aside ul li {
  list-style: none;
  padding-bottom: 10px; }

aside a {
  text-decoration: none;
  color: #33A5C0; }

aside a:hover {
  text-decoration: underline; }

.items {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 70.14568%; }

.items:last-child {
  margin-right: 0; }

.items .itemData {
  overflow: hidden;
  margin-bottom: 30px;
  width: 225px;
  height: 272px;
  background-color: white;
  border-radius: 3px;
  border: #E1E3DF;
  font-size: 12px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }

.items .itemData:last-child {
  margin-right: 0; }

.items .itemData:nth-child(3n) {
  margin-right: 0; }

.items .itemData:nth-child(3n+1) {
  clear: left; }

.items .itemData img {
  width: 225px;
  height: auto; }

p title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
