// VARIABLES & MIXINS

@import "bourbon/bourbon";
@import "neat/neat";

$searchcolor:#33A5C0;
$etsyfive:#F45800;
$navbordercolor: #F0F0EC;
$verticalalign:middle;
$bordercolor:#E1E3DF;

@mixin navborder ($navbordercolor) {
  border-bottom: 1px solid $navbordercolor;
}

@mixin blockalign ($verticalalign) {
  display:inline-block;
  vertical-align: $verticalalign;
}

@mixin colorradiusgrey ($bordercolor) {
  border-radius:3px;
  border: $bordercolor;
}

// END VARIABLES & MIXINS

// BODY & CONTAINER
body {
  color:#555;
  button {
  }
  background-color:#F5F5F1;
}

.container {
  width:980px;
  outline:none;
  margin-left:auto;
  margin-right: auto;
  margin:0 auto;
}

// END BODY & CONTAINER

// NAV

.navigation {
  padding:0;
  height:80px;
  width:100%;
  background-color: #FFFFFF;
  overflow: hidden;
  margin-bottom:30px;
  box-shadow: 0px 0px 10px rgba(176, 176, 176, 1);
  @include navborder($navbordercolor);
    span {
      @include blockalign($verticalalign);
    }
    .left {
     padding-top: 25px;
      margin-left:220px;
      float:left;
    }
      .right {
        float:right;
      padding-top: 25px;
      margin-right:220px;
    }
}

// etsy logo, search & browse

form {
  margin-left:18px;
  font-size:16px;
  border-radius:10px;

  input{
    width:253px;
    height: 30px;
    line-height: 17px;
    border: 1px solid #D9D9D5;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    @include blockalign($verticalalign);

  }
  .sbutton, {
    width:78px;
    background-color:$searchcolor;
    color:white;
    text-decoration: bold;
    border: 1px solid #D9D9D5;
    border-left:0;
    border-radius:0;
    border-top-right-radius:5px;
    border-bottom-right-radius: 5px;
    line-height:17px;
    padding:0;
    margin:0;
    margin-right:18px;
    height:35px;

  }
}

.browse {
  border:1px solid #E5E5E5;
  border-radius:5px;
  background-color:white;
  text-align:center;
  font-size:14px;
  color:#666666;
  height:35px;
  width:72px;
  position:relative;
  @include blockalign($verticalalign);
    &:hover {
      border:1px solid #999999;
    }
    &::after {
      content: "▾";
      color:#bbb;
      font-size:10px;
      left:3px;
      line-height:1em;
      position: relative;
      vertile-align:$verticalalign;   
    }
}
// end etsy logo, search and browse
// END NAV

// ITEMS
.itemArea {
  max-width:100%;
  @include outer-container;
}

aside {
  background-color:white;
  font-size:13px;
  @include colorradiusgrey ($bordercolor);
  @include span-columns(3);
    
    ul {
      margin:0;
      padding:25px;
      background-color:white;
      border-radius:5px;

      li {
        list-style:none;
        padding-bottom:10px;
      }
    }

    a {
      text-decoration: none;
      color:$searchcolor;

      &:hover {
        text-decoration: underline;
      }
    }
  }

.items {
  @include span-columns(8.5);

  .itemData {
    overflow:hidden;
    margin-bottom:30px;
    width:225px;
    height:272px;
    background-color:white;
    @include colorradiusgrey ($bordercolor);
    font-size:12px;
    @include span-columns(4);
    @include omega(3n);
      
      img {
        width:225px;
        height:auto;
      }

    }
}

p {
  title {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
  }
}