// VARIABLES & MIXINS

@import "bourbon/bourbon";
@import "neat/neat";

$searchcolor:#33A5C0;
$etsyfive:#F45800;
$navbordercolor: #E1E3DF;
$verticalalign:middle;
$bordercolor:#E1E3DF;
$pricecolor:#78C042;
$sellercolor:#B4B2B4;
$itemDataMargin: 7px;
$fontcolor:#555555;
$boxshadow: 0 10px 10px -10px rgba(176, 176, 176, .3);

@mixin navborder ($navbordercolor) {
  border-bottom: 1px solid $navbordercolor;
}

@mixin blockalign ($verticalalign) {
  display:inline-block;
  vertical-align: $verticalalign;
}

@mixin colorradiusgrey ($bordercolor) {
  border-radius:3px;
  border: $bordercolor;
}

@mixin boxshadowed ($boxshadow) {
  -webkit-box-shadow: $boxshadow;
  -moz-box-shadow: $boxshadow;
  box-shadow: $boxshadow;
}

// END VARIABLES & MIXINS

// BODY & CONTAINER
body {
  color:$fontcolor;
  background-color:#F5F5F1;

  button, input {
    outline: none;
  }

  a {
    color:$searchcolor;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  li {
    list-style:none;
  }
}

.container {
  width:980px;
  outline:none;
  margin-left:auto;
  margin-right: auto;
  margin:0 auto;
}

// END BODY & CONTAINER

// NAV

.navigation {
  padding:0;
  height:80px;
  width:100%;
  background-color: #FFFFFF;
  overflow: hidden;
  margin-bottom:35px;
  box-shadow: 0px 0px 10px rgba(176, 176, 176, 1);
  @include navborder($navbordercolor);
    span {
      @include blockalign($verticalalign);
    }
    .left {
      padding-top: 20px;
      margin-left:220px;
      float:left;
    }
    .right {
      float:right;
      padding-top: 20px;
      margin-right:220px;
      margin-top: -5px;
    }
}

.searchtext {
  @include blockalign($verticalalign);
  width:229px;
  height:33px;
  padding:15px;
  border: 1px solid #D9D9D5;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
  background-color:#FBFBFA;
  border-right:0;
  margin-left:15px;
}

.sbutton {
  width:78px;
  height:33px;
  color:white;
  border: 1px #2E97B1 solid;
  border-top-right-radius:3px;
  border-bottom-right-radius: 3px;
  margin-right:15px;
  background-color:$searchcolor;
  -webkit-box-shadow: 0 10px 10px -10px rgba(176, 176, 176, .1);
  -moz-box-shadow: 0 10px 10px -10px rgba(176, 176, 176, .1);
  box-shadow: 0 10px 10px -10px rgba(176, 176, 176, .1);
  @include blockalign($verticalalign);
    &:hover {
      opacity: .9;
    }
}


.browse {
  border:1px solid #E5E5E5;
  border-radius:5px;
  background-color:white;
  text-align:center;
  font-size:14px;
  color:#666666;
  height:35px;
  width:72px;
  position:relative;
  @include blockalign($verticalalign);
    &:hover {
      border:1px solid #B9B9B9;
    }
    &::after {
      content: "▾";
      color:#bbb;
      font-size:10px;
      left:3px;
      line-height:1em;
      position: relative;
    }
}

.signin {
  border:1px solid $searchcolor;
  border-radius:5px;
  background-color:white;
  text-align:center;
  font-size:14px;
  color:$searchcolor;
  height:35px;
  width:72px;
  position:relative;
  margin-left:15px;
  @include blockalign($verticalalign);
    &:hover {
      background-color:#F0FBFD;
    }
}

.between {
  height:50px;
  width:0;
  border-left:1px solid $navbordercolor;
  margin-left:10px;
  margin-right:10px;
}

.cart {
  opacity:.6;
    &:hover {
      opacity: 1;
   }
    img {
      height:20px;
      width:20px;
    }

    &:after {
      display: block;
      content: "Cart";
      font-size: 13px;
      text-align:center;
    }
}

.register {
  font-size: 14px;
  @include blockalign($verticalalign);
}
// END NAV

// SIDEBAR
aside {
  font-size:13px;
  display: inline-block;
  vertical-align:middle;
  @include colorradiusgrey ($bordercolor);
  @include span-columns(3);
    
    // sidebar sections 

    .widget {
      padding:10px;
      margin-bottom:30px;
      background-color:white;
      border:1px solid $navbordercolor;
      border-radius:3px;

      ul {
        padding:0px;
        margin-top:10px;

      li {
        line-height:25px;
      }
    }
  }

    // individual sections

    .subwidget {
      border-bottom:1px solid $navbordercolor;
      padding:10px;
      margin-bottom: 10px;
    }

    // widget titles
    
    .widgettop {
      font-weight: 700;
      margin-top:-3px;
      margin-bottom:10px;
    }

    .allcat, h3 {
      font-weight:bold;
    }

}

.usbutton {
  width:100%;
  color:black;
  &:after{
    margin-left:65px;
    font-size:17px;
  }
}

// padding for categories
#sidebarCats {
  padding-left:20px;
}

// filter by color
.bycolor {
  padding:0;

  a {
    height:20px;
    width:20px;
    border:1px solid $navbordercolor;
    border-radius:5px;
    @include blockalign($verticalalign);
  }
}
// END SIDEBAR

// ITEMS

.itemArea {
  max-width:100%;
  @include outer-container;
}

.items {
  display: inline-block;
  vertical-align:middle;
  @include span-columns(8.5);

  .itemData {
    overflow:hidden;
    margin-bottom:30px;
    width:22px;
    height:225px;
    background-color:white;
    @include colorradiusgrey ($bordercolor);
    font-size:12px;
    border:1px solid $navbordercolor;
    @include span-columns(4);
    @include omega(3n);
      
      &:hover {
        @include boxshadowed ($boxshadow);
      }

      img {
        width:225px;
        height:auto;
      }

    }
}

// seller, price, and shop name
.itemText {
  width:90%;
  margin-left:auto;
  margin-right: auto;
  .price {
    color: $pricecolor;
    float:right;
    margin-top:$itemDataMargin;
  }

  .seller {
    float:left;
    color: $sellercolor;
    margin-top:$itemDataMargin;
    &:hover {
      text-decoration: underline;
    }
  }

  .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin:0;
    padding-top:4px;
    color: $fontcolor;
  }
}
// end


.arrow {
  font-size: 10px;
  font-weight: 700;
}