.container {
  overflow: hidden; }

nav {
  padding: 0;
  height: 80px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #F0F0EC; }

nav span {
  display: inline-block;
  vertical-align: middle; }

.left {
  padding-top: 23px;
  margin-left: 220px; }

form {
  margin-left: 18px;
  height: 33px;
  display: inline-block; }

form input {
  width: 253px; }
